# working files
*.png
*.jpg
*.mid
*.wav

# temp folders
dist/
build/
imgs/
*.pyc
__pycache__/
*.spec
*.egg-info/

# ide/tool folders
.idea/
.vscode/
.ipynb_checkpoints/
.venv/
.env/

# testing folders
/capteurs/
/analysis/
.pytest_cache/
.coverage
htmlcov/
/.notes
