
# working files
*.png
*.jpg
# *.ipynb
*.mid
*.wav
notes.txt
# poetry.lock

# temp folders
dist/
build/
imgs/
__pycache__/
.idea/
.ipynb_checkpoints/

# old versions
capteurs/
analysis/
pyQt_test/
tk_version/
