# working files
*.png
*.jpg
*.mid
*.wav

# temp folders
dist/
build/
imgs/
__pycache__/

# ide/tool folders
.idea/
.vscode/
.ipynb_checkpoints/

# testing folders
/capteurs/
/analysis/
/pyQt_test/

/.notes
