<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marovany</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <!-- <script src="https://unpkg.com/wavesurfer.js@7"></script> -->
    <!-- <script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/timeline.min.js"></script> -->
    <!-- <script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.min.js"></script> -->
    <script src="{{ url_for('static', filename = 'vendors/wavesurfer.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendors/wavesurfer.timeline.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendors/wavesurfer.regions.min.js') }}"></script>

</head>
<body class="min-h-screen flex flex-col justify-between">
    <header>
        <div class="bg-stone-100 py-3 text-center flex justify-around">
            <h1 class="text-xl">Title</h1>
            <p class="text-stone-700 text-sm">Description.</p>
        </div>

        <div class="container mx-auto flex py-2">
        </div>

        <!-- <div class="container mx-auto flex py-2">
            <input type="file" id="define-files" accept="audio/wav" multiple onchange="define_files();">
        </div> -->

        <div class="container mx-auto flex justify-between py-2">
            <span>
                <select id="files-dropdown" class="border rounded solid border-stone-800 text-stone-800 p-1 hover:bg-stone-100 active:invert" onchange="loadFile();">
                    <option value="">Select a file</option>
                </select>
            </span>
            <span>
                <label for="open-project" class="p-1 text-stone-800 disabled:text-stone-500">Project directory : </label>
                <input type="text" id="project-directory" placeholder="/home/john/Documents/audio project/" class="border rounded solid border-stone-800 text-stone-800 p-1 disabled:border-stone-500 disabled:text-stone-500 disabled:cursor-not-allowed" size="35" >
                <button id="project-directory-input" type="button" class="border rounded solid border-stone-800 text-stone-800 p-1 hover:bg-stone-100 active:invert disabled:border-stone-500 disabled:text-stone-500 disabled:cursor-not-allowed" onclick="defineProjectDirectory();">Load</button>
            </span>
        </div>
    </header>

    <main class="container mx-auto">

        <!-- <template id="template-file"> -->
            <section id="top-waveform">
                <div class="flex justify-between py-2">
                    <!-- <button type="button" class="border rounded solid border-stone-800 text-stone-800 p-1 hover:bg-stone-100 active:invert" onclick="request_text('/', '');">Get /</button>
                    <button type="button" class="border rounded solid border-stone-800 text-stone-800 p-1 hover:bg-stone-100 active:invert"onclick="request_text('/test', '');">Get /test</button>
                    <button type="button" class="border rounded solid border-stone-800 text-stone-800 p-1 hover:bg-stone-100 active:invert"onclick="request_blob('/file', '');">Get /file</button>
                    <button type="button" class="border rounded solid border-stone-800 text-stone-800 p-1 hover:bg-stone-100 active:invert"onclick="request_data('/files_list', '');">Get /files_list</button> -->
                </div>

                <div class="bg-stone-100 border border-stone-500 rounded min-h-[256px]">
                    <div id="waveform">
                    </div>
                </div>
                
                <div class="flex justify-between py-2">
                    <button type="button" id="add-region" class="border rounded solid border-stone-800 text-stone-800 p-1 hover:bg-stone-100 active:invert">Add region</button>
                    <span class="text-stone-500 p-1">Left-click to play. Right-click to pause.</span>
                    <button type="button" id="save-regions"class="border rounded solid border-stone-800 text-stone-800 p-1 hover:bg-stone-100 active:invert">Save notes</button>
                </div>
            </section>
            <!-- <input type="file" onchange="sendPath(this);"> -->
        <!-- </template> -->
    </main>

    <!-- Toast -->
    <div id="toast-container" class="flex items-center w-full max-w-xs p-4 bg-white rounded border border-stone-800 shadow-lg toast-container hidden top-4 right-8" role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-stone-500 rounded text-lg">
            <!-- <span class="toast-icon">🗨</span> -->
            <span class="toast-icon">💬</span>
            <!-- <span class="toast-icon">✔</span> -->
            <!-- <span class="toast-icon">❌</span> -->
        </div>
        <div class="ml-3 text-stone-800 toast-message">
            
        </div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 rounded text-stone-800 hover:bg-stone-100 active:invert p-1.5 inline-flex items-center justify-center h-8 w-8" onclick="hideToast();">
            &times;
        </button>
    </div>

    <footer class="text-stone-500 font-light bg-stone-100">
        <div class="flex justify-around p-3">
            <p>Footer</p> 
            <a href="" target="_blank">
                Link
            </a>
        </div>
    </footer>
</body>

<script src="{{ url_for('static', filename = 'calls.js') }}"></script>
<script src="{{ url_for('static', filename = 'main.js') }}"></script>
</html>
